#imgdiv {

  background-color: black;
}

#hry{

  color: ghostwhite;
  font-weight: lighter;
}

#divInputGr {

  background-color: black;

}

ul {
  text-align: left;
}

#imgsignup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

